@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

button {
    font: inherit;
}