@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap");
@import "tailwindcss";

@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        background-color: var(--bg-dark);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    li,
    blockquote {
        margin: 0;
        padding: 0;
    }

    a {
        color: inherit;
    }

    button {
        font: inherit;
    }

    :root {
        --bg-dark: oklch(0.1 0 249);
        --bg: oklch(0.25 0 249);
        --bg-light: oklch(0.3 0 249);
        --text: oklch(0.96 0 249);
        --text-muted: oklch(0.76 0 249);
        --highlight: oklch(0.5 0 249);
        --border: oklch(0.4 0 249);
        --border-muted: oklch(0.3 0 249);
        --primary: oklch(0.76 0.1 249);
        --secondary: oklch(0.76 0.1 69);
        --danger: oklch(0.7 0.05 30);
        --warning: oklch(0.7 0.05 100);
        --success: oklch(0.7 0.05 160);
        --info: oklch(0.7 0.05 260);
        --high: rgb(239, 68, 68);
        --medium: rgb(249, 115, 22);
        --low: rgb(34, 197, 94);
        --glow-low: 0 0 8px var(--low);
        --glow-medium: 0 0 8px var(--medium);
        --glow-high: 0 0 8px var(--high);
        --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
        --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
        --border-card: 1px solid var(--bg);
        --shadow-s:
                inset 0 1px 2px #ffffff30,
                0 1px 2px #00000030,
                0 2px 4px #00000015;
        --shadow-m:
                inset 0 1px 2px #ffffff50,
                0 2px 4px #00000030,
                0 4px 8px #00000015;
        --shadow-l:
                inset 0 1px 2px #ffffff70,
                0 4px 6px #00000030,
                0 6px 10px #00000015;
        --shadow-inset-s:
                inset 0 1px 3px #ffffff30,
                inset 1px 0 3px #ffffff30;
    }

    body.light {
        --bg-dark: oklch(0.92 0 249);
        --bg: oklch(0.96 0 249);
        --bg-light: oklch(1 0 249);
        --text: oklch(0.15 0 249);
        --text-muted: oklch(0.4 0 249);
        --highlight: oklch(1 0 249);
        --border: oklch(0.6 0 249);
        --border-muted: oklch(0.7 0 249);
        --primary: oklch(0.4 0.1 249);
        --secondary: oklch(0.4 0.1 69);
        --danger: oklch(0.5 0.05 30);
        --warning: oklch(0.5 0.05 100);
        --success: oklch(0.5 0.05 160);
        --info: oklch(0.5 0.05 260);
        --high: rgb(239, 68, 68);
        --medium: rgb(249, 115, 22);
        --low: rgb(34, 197, 94);
        --glow-low: 0 0 8px var(--low);
        --glow-medium: 0 0 8px var(--medium);
        --glow-high: 0 0 8px var(--high);
        --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
        --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
        --border-card: 1px solid var(--bg);
        --shadow-s:
                inset 0 1px 2px #ffffff30,
                0 1px 2px #00000030,
                0 2px 4px #00000015;
        --shadow-m:
                inset 0 1px 2px #ffffff50,
                0 2px 4px #00000030,
                0 4px 8px #00000015;
        --shadow-l:
                inset 0 1px 2px #ffffff70,
                0 4px 6px #00000030,
                0 6px 10px #00000015;
        --shadow-inset-s:
                inset 0 1px 2px #00000080,
                inset 1px 0 2px #00000080;
    }
}

@theme {
    --font-sans: 'Exo 2', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;

    --animate-appearance: Appearance 0.5s ease-in-out;

    @keyframes Appearance {
        from {
            transform: translateY(-8px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 100%;
        }
    }

    --animate-open-rotate: OpenRotation 0.1s ease-in-out forwards;

    @keyframes OpenRotation {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(-180deg);
        }
    }

    --animate-close-rotate: CloseRotation 0.1s ease-in-out forwards;

    @keyframes CloseRotation {
        from {
            transform: rotate(-180deg);
        }
        to {
            transform: rotate(0);
        }
    }

    --animate-overlay-show: OverlayShow 150ms ease-in-out;

    @keyframes OverlayShow {
        from {
            opacity: 0;
        }
        to {
            opacity: 100%;
        }
    }

    --animate-content-show: ContentShow 150ms ease-in-out;

    @keyframes ContentShow {
        from {
            opacity: 0;
            transform: scale(0.96);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    --animate-slide-right: SlideRight 0.2s ease-in-out forwards;

    @keyframes SlideRight {
        from {
            transform: translateX(14%);
        }
        to {
            transform: translateX(128%);
        }
    }

    --animate-slide-left: SlideLeft 0.2s ease-in-out forwards;

    @keyframes SlideLeft {
        from {
            transform: translateX(128%);
        }
        to {
            transform: translateX(14%);
        }
    }
}